<div class="seating">
    <div class="column">
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S1"></div>
                <div class="seat available" id = "S2"></div>
                <div class="seat available" id = "S3"></div>
            </div>
        </div>
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S4"></div>
                <div class="seat available" id = "S5"></div>
                <div class="seat available" id = "S6"></div>
            </div>
        </div>
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S7"></div>
                <div class="seat available" id = "S8"></div>
                <div class="seat available" id = "S9"></div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S10"></div>
                <div class="seat available" id = "S11"></div>
                <div class="seat available" id = "S12"></div>
            </div>
        </div>
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S13"></div>
                <div class="seat available" id = "S14"></div>
                <div class="seat available" id = "S15"></div>
            </div>
        </div>
        <div class="set">
            <div class="table"></div>
            <div class="seats">
                <div class="seat available" id = "S16"></div>
                <div class="seat available" id = "S17"></div>
                <div class="seat available" id = "S18"></div>
            </div>
        </div>
    </div>
</div>