<div class = "menu-bar">
            <div class = "user-details-bar">
                <div class="profile-picture">
                    <img id="profile-image" src="data:image/png;base64,{{currentUser.image}}" alt="User Image">
                </div>
                <div class="details">
                    <div class="name">
                        <a>{{currentUser.name}}</a>
                    </div>
                    <div class="idnum">
                        <a>{{currentUser.id}}</a>
                    </div>
                    <div class="occupation">
                        <a>Lab Technician</a>
                    </div>
                    <div class="edit-profile" id = "edit-profile-button">
                        <div class = "edit-pen-profile">
                            <img src="/common/assets/edit-pen.png">
                            <u>Edit</u> 
                        </div>
                    </div>
                </div>
            </div>
            <hr class="separator">
            <div class="navigation">
                <div class="navigation-item" id = "home-button">
                    <img src="/common/assets/home.png">
                    <div class = "text">
                        <u>Home</u>
                    </div>
                </div>
                <div class="navigation-item" id = "accept-button">
                    <img src="/common/assets/reservation.png">
                    <div class = "text">
                        <u>Accept Walk-In</u>
                    </div>
                </div>
                <div class="navigation-item" id = "view-reservation-button">
                    <img src="/common/assets/view.png">
                    <div class = "text">
                        <u>View Reservation</u>
                        </div>
                </div>
                <div class="navigation-item" id = "contact-button">
                    <img src="/common/assets/contact.png" >
                    <div class = "text">
                        <u>Contact A Student</u>
                    </div>
                </div>
                <div class="navigation-item" id="log-out-button">
                    <img src="/common/assets/logout.png" id="log-out">
                    <div class="text">
                        <u>Log Out</u>
                    </div>
                </div>
            </div>
            <div class="menu-bar-footer">
                <div class="footer-image">
                    <img src="/common/assets/logo-flask.png">
                </div>
                <div class="footer-text">
                    <a>ANIMO-LABS</a>
                </div>
            </div>
        </div>