<div class = "menu-bar">
            <div class = "user-details-bar">
                <div class="profile-picture">
                    <img src = "assets/user-dp.png">
                </div>
                <div class="details">
                    <div class="name">
                        <a>Juan Dela Cruz</a>
                    </div>
                    <div class="idnum">
                        <a>12274534</a>
                    </div>
                    <div class="occupation">
                        <a>Student</a>
                    </div>
                    <div class="edit-profile" id = "edit-profile-button">
                        <div class = "edit-pen-profile">
                            <img src="assets/edit-pen.png">
                            <u>Edit</u> 
                        </div>
                    </div>
                </div>
            </div>
            <hr class="separator">
            <div class="navigation">
                <div class="navigation-item" id = "home-button">
                    <img src="assets/home.png">
                    <div class = "text">
                        <u>Home</u>
                    </div>
                </div>
                <a href = "lab-selection.html">
                    <div class="navigation-item" id = "reserve">
                        <img src="assets/reservation.png">
                        <div class = "text">
                            <u>Reserve a laboratory</u>
                        </div>
                    </div>
                </a>
                <div class="navigation-item id" id = "edit-reservation-button">
                    <img src="assets/edit.png">
                    <div class = "text">
                        <u>Edit Reservation</u>
                    </div>
                </div>
                <div class="navigation-item" id = "view-reservation-button">
                    <img src="assets/view.png">
                    <div class = "text">
                        <u>View Reservation</u>
                    </div>
                </div>
                <div class="navigation-item" id = "contact-button">
                    <img src="assets/contact.png" >
                    <div class = "text">
                        <u>Contact A Lab Technician</u>
                    </div>
                </div>
                <div class="navigation-item" id = "deactivate-button">
                    <img src="assets/delete.png">
                    <div class = "text">
                        <u>Deactivate Account</u>
                    </div>
                </div>
                <div class="navigation-item" id = "log-out-button" onclick= "window.location.href = 'Login.html'"> 
                    <img src="assets/logout.png" id = "log-out">
                    <div class = "text">
                        <u>Log Out</u>
                    </div>
                </div>
            </div>
            <div class="menu-bar-footer">
                <div class="footer-image">
                    <img src="assets/logo-flask.png">
                </div>
                <div class="footer-text">
                    <a>ANIMO-LABS</a>
                </div>
            </div>
        </div>