:root{
    --darkgreen: #095D40; 
}

body{
    margin: 0;
    background-image: url("assets/background.png");
}


.parent-container{
    display:flex;
    flex-direction: column;
}

nav{
    display:flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 1%;
}

.nav-profile{
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #095D40;
    width: 90%;
    padding-bottom: 10px;
    align-items: left;
    margin-bottom: 10px;
}

.picture{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 10%; 
    width: 25%; 
    height: 80%; 
    border-radius: 100px;
    border: solid var(--darkgreen); 
}

.picture > img{
     width: 90%; 
     height: 80%; 
}

.details{
    margin-left: 5%; 
    width: 50%; 
    
}

.profile-details{
    color: darkgreen;
}

.edit{
    text-align: right;
}

.nav-menu{
    display: flex;
    flex-direction: column;
}

.menu-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.menu-item > img{
    border-radius: 25px;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}