:root{
    --darkgreen: #095D40; 
}

body{
    margin: 0; 
    background-image: url("assets/background.png");
    overflow: hidden;
}

.parent{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 2%; 
}

.filter-parent{
    width: 70%; 
    height: 25vh; 
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    padding: 1%; 
}

.slots-parent{
    margin-top: 5vh;
    width: 45%; 
    height: 55vh; 
    background-color: white;
    border-radius: 15px;
}

.logo{
    height: 20%; 
    display: flex; 
    align-items: center;
}

.logo-image{
    height: 100%;
    margin-right: 1%;
}
.logo-image img{
    height: 100%; 
    
}

.logo a{
    color: var(--darkgreen);
    font-family: "Russo One", sans-serif; 
    font-weight: 400; 
    font-size: 25px;
}

.details-parent{
    height: 65%;
    margin-top: 1%;
    border: solid var(--darkgreen);
    border-radius: 10px;
    padding: 0.5%;
}

.laboratory{ 
    font-family: Arial, Helvetica, sans-serif;
    color: var(--darkgreen);
    margin-bottom: 1%;
}

.details{
    max-height: 30%;
    display: flex;
    justify-content:space-between; 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

.buttons{
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}

.button-parent{
    display: flex; 
    justify-content: center;
    width: 33%;    
}

.button-parent button{
    position: relative;
    width: 70%;
    color: white; 
    background-color: var(--darkgreen);
    border: solid var(--darkgreen);
    border-radius: 10px;
}

.button-parent button:active{
    top: 1px; 
}

.button-parent button:hover{
    cursor: pointer; 
    background-color: #0C7652;
}

.slots-parent{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.lab-details{
    height: 20%;
    text-align: center;
    color: var(--darkgreen);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.seating-chem{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    height: 55%;
    width: 80%;
    margin-bottom: 2%; 
}

.set{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 33%; 
    height: 100%; 
}

.column{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    height: 100%;  
}

.seat{
    width: 2vw; 
    height: 2vw;
    border: solid black; 
}

.left .seat{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right .seat{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*Sample Reservation Status*/

#one, #three, #five ,#six, #nine{
    background-color: red;
}
#eight, #eleven{
    background-color: lightblue;
}
#eighteen{
    background-color: orange;
}
#two, #four, #five, #seven, #nine, #ten, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen{
    background-color: green;
}

.table{
    width: 30%;
    height: 90%; 
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: solid black;  
}

.seat-legend{
    display: flex; 
    justify-content: space-evenly;
    height: 24%;
    width: 98%;
    padding: 2%; 
}

.legend-container{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.legend{
    height: 4vh; 
    width: 4vh; 
    border: solid black; 
}


#available{
    background-color:green; 
}
#reserved{
    background-color: red;
}
#selected{
    background-color: lightblue;
}
#out-of-order{
    background-color: orange;
}




