<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href= "{{style}}" rel="stylesheet" type = "text/css">
  </head>
  <body>
{{{body}}}
  </body>
</html>