<div class="container">
    <div class="form-header">
      <img class="logo" src="/common/assets/ANIMO-LABS LOGO.png" alt="Animo Labs Logo">
      <h2>{{lab}} Laboratory Equipment</h2>
    </div>
    
    <form action = '/receipt' method = "post">
      <div class="equipment-list">
        {{#each list}}
          <div class="equipment-item">
          <span class="equipment-name">{{item}}</span>
          <label for="beaker" class="equipment-quantity">
            <input type="number" name= {{item}} value="0" min="0">
          </label>
        </div>
        {{/each}}
      <div class="reserve-checkbox">
        <input type="checkbox" id="reserve-checkbox" name="reserve-checkbox">
        <label for="reserve-checkbox">Reserve as Anonymous</label>
      </div>
        <input type = "submit" class="submit-button" value = "Submit">
        <button type="reset" class="reset-button">Reset</button>
    </form>
    
  </div>