<div class = "user-details">
        <div class="picture">
            <img src = "/common/assets/user-dp.png">
        </div>
        <div class="details">
            <div class="name">
                <a>Juan Dela Cruz</a>
            </div>
            <div class="idnum">
                <a>12274534</a>
            </div>
            <div class="occupation">
                <a>Student</a>
            </div>
        </div>
</div>
<div class="selection">
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/chem-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = '/slot-reservation'" >Chemistry Laboratory (Velasco - 1) </button>
        </div>
    </div>
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/com-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = '/lab-menu'" >Computer Laboratory (Gokongwei - 3) </button>
        </div>
    </div>
    <div class="option">
        <div class="lab-picture">
            <img src = "/common/assets/ee-lab.png">
        </div>
        <div class="lab-label">
            <button onclick = "window.location.href = 'lab-menu.html';" >Electronics Laboratory (Gokongwei - 4)</button>
        </div>
    </div>
</div>
<div class="footer">
    <div class="return">
        <button onclick="window.location.href = '/user-profile'" >Return</button>
    </div>
    <div class="logo">
        <div class="logo-image">
            <img src = "/common/assets/logo-flask.png">
        </div>
        <div class="text">
            <h1>ANIMO LABS</h1>
        </div>
        
    </div>
</div>
