<!-- main.hbs -->
<html> 
<body>
    <div class="container">
        <div class="header">
            <div class="login">
                <img class="logo" src="/assets/ANIMO-LABS LOGO.png" alt="Animo Labs Logo">
                <p>User ID</p>
                <input type="text" id="user-id">
                <p>Password</p>
                <input type="password" id="password">
                <button onclick= "window.location.href = 'user-profile.html'">Log In as Student</button>
                <button onclick= "window.location.href = 'home-lab-tech.html'">Log In as Lab Technician</button>
                <p>Don't have an account?<a class="signup" href="SignUp.html">Sign up here</a></p>
            </div>
            <img class="chem-lab" src="/assets/chem-lab.png" alt="Chem Lab Image">
        </div>
    </div>
</body>
</html> 
