<div class = "user-details">
    <div class="picture">
        <img src = "/common/assets/user-dp.png">
    </div>
    <div class="details">
        <div class="receipt-title">
            <a>Student Information<a>
        </div>
        <div class="name">
            <a>Juan Dela Cruz</a>
        </div>
        <div class="idnum">
            <a>12274534</a>
        </div>
        <div class="occupation">
            <a>Student</a>
        </div>
    </div>
</div>
<div class="receipt">
    <div class="receipt-container">
        <div class="receipt-body">
            <div class="receipt-title">
                <a>Detail of the Reservation<a>
            </div>
            <hr>
            <div class="receipt-details">
                <div class="reservation-details">
                    <div class = detail>
                        <b>Reservation #: </b>
                        <a id="reservation-number">123123</a>
                    </div>
                    <div class="detail">
                        <b>Laboratory: </b>
                        <a id = "laboratory-type">Chemistry</a>
                    </div>
                    <div class="detail">
                        <b>Seats reserved: </b>
                        <a id = "seats-reserved">3C, 3G</a>
                    </div>
                    <div class="detail">
                        <b>Time: </b>
                        <a id = "time">11:00 AM - 12:00 PM</a>
                    </div>
                </div>
                <div class="equipment-details">
                    <b>Equipment Reserved:</b>
                    <div class="equipment">
                        <span id="number">1.</span>
                        <span id="item">Erlenmeyer flask</span>
                    </div>
                    <div class="equipment">
                        <span id="number">2.</span>
                        <span id="item">Beaker</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="return to-main-menu">
        <button onclick = "window.location.href = '/lab-profile';">Return to main menu</button>
    </div>
    <div class="return to-main-menu" >
        <button onclick = "window.location.href = 'lab-selection.html';">Edit Reservation</button>
    </div>
    <div class="return to-main-menu">
        <button onclick = "window.location.href = 'user-profile.html';">Remove Reservation</button>
    </div>

    <div class="logo">
        <div class="logo-image">
            <img src = "assets/logo-flask.png">
        </div>
        <div class="text">
            <h1>ANIMO LABS</h1>
        </div>
        
    </div>
</div>