<div class="parent">
        <div class="filter-parent">
            <div class="logo">
                <div class="logo-image">
                    <img src = "/common/assets/logo-flask.png">
                </div>
                <div class="logo-name">
                    <a>ANIMO-LABS</a>
                </div>
            </div>
            <div class="details-parent">
                <div class="laboratory">
                    <a><strong>{{lab}}</strong></a>
                </div>
                <form action="/add-equipment" method = "post">
                    <div class="details">
                        <span class="date">
                            Date:
                            <input type = "date" id = "date">
                        </span>
                        <span class="room-number">
                            Room:
                            <select name = "room" id = "room">
                                {{#each rooms}}
                                    <option value = {{room}}>{{room}}</option>
                                {{/each}}
                            </select>
                        </span>
                        <span class="start-time">
                            <label>Start: </label>
                            <select name = "start-hour" id = "start-hour">
                                <option value = 12>12</option> <option value = 11>11</option>
                                <option value = 10>10</option> <option value = 9>9</option>
                                <option value = 8>8</option>   <option value = 7>7</option>
                                <option value = 6>6</option>   <option value = 5>5</option>
                                <option value = 4>4</option>   <option value = 3>3</option>
                                <option value = 2>2</option>   <option value = 1>1</option>
                            </select>
                            <a><b>:</b></a>
                            <select name = "start-min" id = "start-min">
                                <option value = 00>00</option>
                                <option value = 15>15</option>
                                <option value = 30>30</option>
                                <option value = 45>45</option>
                            </select>
                            <select name = "start-period" id = "start-period">
                                <option value = "AM">AM</option>
                                <option value = "PM">PM</option>
                            </select>
                        </span>
                        <span class="end-time">
                            <label>End: </label>
                            <select name = "end-hour" id = "end-hour">
                                <option value = 12>12</option> <option value = 11>11</option>
                                <option value = 10>10</option> <option value = 9>9</option>
                                <option value = 8>8</option>   <option value = 7>7</option>
                                <option value = 6>6</option>   <option value = 5>5</option>
                                <option value = 4>4</option>   <option value = 3>3</option>
                                <option value = 2>2</option>   <option value = 1>1</option>
                            </select>
                            <a><b>:</b></a>
                            <select name = "end-min" id = "end-min">
                                <option value = 00>00</option>
                                <option value = 15>15</option>
                                <option value = 30>30</option>
                                <option value = 45>45</option>
                            </select>
                            <select name = "end-period" id = "end-period">
                                <option value = "AM">AM</option>
                                <option value = "PM">PM</option>
                            </select>
                        </span>
                        <span class="seats-selected">
                            Seats Selected: 
                            <input type = "text" id = "seats-selected" readonly value = "">
                        </span>
                    </div>
                    <div class="buttons">
                            <div class="button-parent">
                                <a href = "/lab-selection">
                                    <input type = "button" value = "Return" class = "button" size = "100">
                                </a>
                            </div>
                            <div class="button-parent">
                                <input type = "submit" value = "Next" class ="button">
                            </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="slots-parent">
            <div class="lab-details">
                Seat status for: 
                <a id= "date-selected"></a><br>
                <a id= "room-selected"></a><br>
                <a id= "time-selected"></a><br>
            </div>
            {{#if isChem}}
                {{>chem-seating}}
            {{/if}}
            {{#if isComp}}
                {{>comp-seating}}
            {{/if}}
            {{#if isElec}}
                {{>elec-seating}}
            {{/if}}
            <div class="seat-legend">
                <div class="legend-container">
                    <div class="legend available"></div>
                    <a>Available</a>
                </div>
                <div class="legend-container">
                    <div class="legend reserved"></div>
                    <a>Reserved</a>
                </div>
                <div class="legend-container">
                    <div class="legend selected"></div>
                    <a>Selected</a>
                </div>
                <div class="legend-container">
                    <div class="legend out-of-order"></div>
                    <a>Out-of-Order</a>
                </div>
            </div>
        </div>
    </div>